{% extends "base.html" %}

{% block head %}
    <title>Изменить товар</title>
{% endblock %}

{% block header %}
    <h1 align='center' class="display-4">ИЗМЕНИТЬ ТОВАР</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button> Главная </button></a>
    <a href="{% url 'about' object.pk %}"><button> Назад </button></a>
{% endblock %}

{% block content %}
    <form method="get" action="{% url 'about' object.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Update">Обновить</button>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}