{% extends "base.html" %}

{% block head %}
    <title>Магазин</title>
{% endblock %}

{% block header %}
	<h1 align="center" class="display-4">МАГАЗИН</h1>
{% endblock %}

{% block nav %}
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-success">Войти</button></a>
        <a href="{% url 'register' %}"><button type="button" class="btn btn-warning"> Зарегистрироваться </button></a>
    {% else %}
        <a href="{% url 'profile' request.user.pk %}"><button class="btn btn-info"> {{ request.user }} </button></a>
        <a href="{% url 'logout' %}"><button class="btn btn-danger"> Выйти </button></a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for product in object_list %}
        <hr>
        <div align="center">
            <a href="{% url 'about' product.pk %}"  class="btn btn-outline-success"> {{ product.title }} </a> <br>
            Цена: {{ product.price }} шекелей<br>
            {% if product.quantity_in_stock > 0 %}
                Количество на складе: {{ product.quantity_in_stock }}
            {% else %}
                <span class="btn btn-danger">Нет в наличии</span>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}