{% extends "base.html" %}

{% block head %}
    <title>Товар</title>
{% endblock %}

{% block header %}
    <h1 align="center" class="display-4">КОРЗИНА</h1>

{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button type="button" class="btn btn-secondary"> Главная </button></a>
    <a href="{% url 'home' %}"><button type="button" class="btn btn-danger"> Назад </button></a>
{% endblock %}

{% block content %}
    <div align="center">
        <div class="alert alert-success" role="alert">{{ object.title }}</div>
        <div class="alert alert-info" role="alert">
        Описание: {{ object.description }}<br>
        Цена: {{ object.price }} шекелей<br>
        </div>
        {% if product.quantity_in_stock > 0 %}
            Количество на складе: {{ product.quantity_in_stock }}
        {% else %}
            <div class="alert alert-danger" role="alert">Нет в наличии</div>
        {% endif %}
        {% if request.user.is_superuser %}
            <a href="{% url 'change_product' object.pk %}"><button> Выбрать </button></a>
        {% elif request.user.is_authenticated %}

                {% if object.quantity_in_stock > 0 %}
                    <form method="post" action="{% url 'buy_product' object.pk %}">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" value="Buy" class="btn btn-success">Купить</button>
                    </form>
                {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}