{% extends "base.html" %}

{% block head %}
    <title>Мой кабинет</title>
{% endblock %}

{% block header %}
        <h1 align="center" class="display-4">ПРОФИЛЬ</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button type="button" class="btn btn-secondary"> Главная </button></a>
    {% if request.user.is_superuser %}
        <a href="{% url 'append' %}"><button type="button" class="btn btn-success"> Добавить товар </button></a>
        <a href="/admin/"><button type="button" class="btn btn-info"> Админка </button></a>
    {% else %}
        <a href="{% url 'purchases_list' %}"><button type="button" class="btn btn-primary"> Ваши покупки </button></a>
    {% endif %}
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger"> Выйти </button></a><br>
{% endblock %}

{% block content %}
    <div class="alert alert-primary" role="alert">
    Вы вошли как: {{ request.user }}
        {% if not request.user.is_superuser %}<br>
            На вашем счету: {{ request.user.money }} шекелей
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}