{% extends "base.html" %}

{% block head %}
    <title>Покупки</title>
{% endblock %}

{% block header %}
    <h1 align="center" class="display-4"> ПОКУПКИ </h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button class="btn btn-secondary"> Главная </button></a>
    <a href="{% url 'profile' request.user.id %}"><button class="btn btn-info"> {{ request.user }} </button></a>
{% endblock %}

{% block content %}
    <div align="center">
        {% for purchase in object_list %}
            {% if purchase.user == request.user %}
                <hr>
                <div class="alert alert-success" role="alert">{{ purchase }}</div>
                Количество на складе: {{ purchase.quantity }} <br>
                {{ purchase.time_of_buy }}
                <form action="{% url 'return' purchase.pk %}">
                    {% csrf_token %}
                    <button type="submit" value="return" class="btn btn-danger">Вернуть товар</button>
                </form><br>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}